.about {
    overflow-x: hidden;
    padding: 2em;
    padding-left: 6em;
    min-height: 500px;

    .description {
        font-size: 0.8em;
        width: 60%;
    }

    img {
        border-style: double;
        border-width: 6px;
        border-color: $light-grey-20;
    }
}
