// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
    font-family: $default-font;

    // >>>>>>>>>>>>>>>>>>>>>>>>>>
    // >>>>>>>>>>>>>>>>> FEATURED
    // >>>>>>>>>>>>>>>>>>>>>>>>>>

    .featured {
        -webkit-tap-highlight-color: rgba($black-color, 0);
        font-family: $theme-font;
        font-size: 14px;
        line-height: 1.71429;
        font-weight: 400;
        color: $white-color;
        -webkit-font-smoothing: subpixel-antialiased;
        text-align: center !important;
        box-sizing: border-box;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;

        h2 {
            -webkit-tap-highlight-color: rgba($black-color, 0);
            -webkit-font-smoothing: subpixel-antialiased;
            text-align: center !important;
            box-sizing: border-box;
            font-weight: 500;
            color: $primary-color;
            margin-bottom: 0;
            text-transform: uppercase;
            font-family: $secondary-font;
            letter-spacing: 0.05em;
            font-size: 55px;
            line-height: 0.87273;
            margin-top: 14px;
        }

        h6 {
            -webkit-tap-highlight-color: rgba($black-color, 0);
            -webkit-font-smoothing: subpixel-antialiased;
            text-align: center !important;
            box-sizing: border-box;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            text-transform: uppercase;
            font-family: $secondary-font;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.1em;
            color: $blue;
        }

        .post-event {
            -webkit-tap-highlight-color: rgba($black-color, 0);
            font-family: $theme-font;
            font-size: 14px;
            line-height: 1.71429;
            font-weight: 400;
            color: $white-color;
            -webkit-font-smoothing: subpixel-antialiased;
            text-align: center !important;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &::before {
                background-image: linear-gradient(
                        to right,
                        rgba($primary-color, 0.1) 0%,
                        rgba($primary-color, 0.1) 10%,
                        transparent 10%,
                        transparent 90%,
                        rgba($primary-color, 0.1) 90%,
                        rgba($primary-color, 0.1) 100%
                    ),
                    linear-gradient(
                        to right,
                        rgba($primary-color, 0.1) 6px,
                        rgba($primary-color, 0.1) 13.5%,
                        transparent 13.5%,
                        transparent 86.5%,
                        rgba($primary-color, 0.1) 86.5%,
                        rgba($primary-color, 0.1) 100%
                    ),
                    linear-gradient(
                        to bottom,
                        rgba($primary-color, 0.1) 0%,
                        rgba($primary-color, 0.1) 100%,
                        transparent 100%,
                        transparent 100%
                    ),
                    linear-gradient(
                        to bottom,
                        rgba($primary-color, 0.1) 0%,
                        rgba($primary-color, 0.1) 100%,
                        transparent 100%,
                        transparent 100%
                    );
                background-size: 100% 6px, 98.6% 6px, 6px 100%, 6px 100%;
                background-position: 0 0, 6px 100%, 0 6px, 100% 6px;
                background-repeat: no-repeat;
                content: '';
                display: block;
                position: absolute;
                top: 8%;
                left: 1%;
                right: 1%;
                bottom: 48%;
            }

            img {
                -webkit-tap-highlight-color: rgba($black-color, 0);
                font-family: $theme-font;
                font-size: 14px;
                line-height: 1.71429;
                font-weight: 400;
                color: $white-color;
                -webkit-font-smoothing: subpixel-antialiased;
                text-align: center !important;
                width: 571px;
                box-sizing: border-box;
                vertical-align: middle;
                border-style: none;
                display: inline-block;
                max-width: 100%;
                height: auto;
                position: relative;
                margin-top: 59px;
            }

            .button {
                -webkit-tap-highlight-color: rgba($black-color, 0);
                -webkit-font-smoothing: subpixel-antialiased;
                box-sizing: border-box;
                text-decoration: none;
                position: relative;
                overflow: hidden;
                display: inline-block;
                border: 2px solid;
                font-family: $secondary-font;
                font-weight: 700;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;
                cursor: pointer;
                vertical-align: middle;
                user-select: none;
                transition: 250ms all ease-in-out;
                border-radius: 10em;
                color: $white-color;
                background-color: $primary-color;
                border-color: $white-color;
                padding: 17px 64px;
                font-size: 14px;
                line-height: 1.5;
                margin: 0;
                transform: translateY(-50%);
            }
        }
    }
}
