.main-container {
    font-family: $default-font;
    font-size: $h5-size;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: $sidenavWidth auto;
    width: 100%;
    align-items: center;

    > main,
    .site-footer {
        position: absolute;
        width: calc(100% - #{$sidenavWidth});
    }

    > main {
        right: 0;
        top: 0;

        min-height: 100%;
    }
    .site-footer {
        right: 0;
        bottom: 0;
    }
}
