.main-container {
    font-family: $default-font;
    font-size: $h5-size;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: $sidenavWidth auto;
    width: 100%;
    align-items: center;

    > main,
    .site-footer {
        position: absolute;
        width: calc(100% - #{$sidenavWidth});
    }

    > main {
        right: 0;
        top: 0;
        min-height: 100%;
    }
    .site-footer {
        right: 0;
        bottom: 0;
    }
}

@media only screen and (max-width: $width-md) {
    .main-container {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        > main,
        .site-footer {
            position: relative;
            width: 100%;
        }
    }
}
