form {
    width: 100%;
    legend {
        border-top: 4px double rgba($primary-color, 0.5);
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .form-group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;

        &.row {
            margin-left: 0;
            margin-right: 0;
        }

        .form-label {
            position: absolute;
            top: 0;
            transform: translateY(-10%);
            display: block;
            transition: 0.2s;
            font-size: $font-size;
            color: $light-grey-10;

            &.col-form-label-lg {
                font-size: $font-size * 1.5 !important;
            }
            &.col-form-label-sm {
                font-size: $font-size * 0.8 !important;
            }
        }

        .form-control {
            font-family: inherit;
            font-weight: 700;
            font-size: $font-size;
            width: 100%;
            border: 0;
            border-bottom: 1px solid $light-grey-10;
            outline: 0;
            padding: 10px 0;
            background: transparent;
            transition: border-color 0.2s;

            &.form-control-lg {
                font-size: $font-size * 1.5;
                padding-top: 20px;
            }
            &.form-control-sm {
                font-size: $font-size * 0.8;
                padding-top: 20px;
            }

            &::placeholder {
                font-size: $font-size;
                color: transparent;
            }

            &:placeholder-shown ~ .form-label {
                font-size: $font-size;
                cursor: text;
                top: 20px;

                &.col-form-label-lg {
                    font-size: $font-size * 1.5 !important;
                }
                &.col-form-label-sm {
                    font-size: $font-size * 0.8 !important;
                }
            }

            &:focus {
                font-weight: 700;
                border-width: 1px;
                border-image: linear-gradient(to right, $primary-color, $warning-color);
                border-image-slice: 1;
                box-shadow: none;
                outline: none;

                ~ .form-label {
                    position: absolute;
                    top: -5px;
                    display: block;
                    transition: 0.2s;
                    font-size: $font-size * 0.8;
                    color: $primary-color;
                    font-weight: 700;

                    &.col-form-label-lg {
                        font-size: $font-size * 1.2 !important;
                    }
                    &.col-form-label-lg {
                        font-size: $font-size * 0.8 !important;
                    }
                }
            }

            &:valid ~ .col-form-label-lg {
                font-size: $font-size * 1.2 !important;
            }

            &:required,
            &:invalid {
                box-shadow: none;
            }

            &:disabled {
                color: $light-grey-10;

                ~ .form-label {
                    color: $light-grey-10;
                }
            }
        }
    }

    .valid-feedback,
    .invalid-feedback {
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        box-sizing: inherit;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        display: block;
    }

    .valid-feedback {
        color: $success-color;
    }
    .invalid-feedback {
        color: $danger-color;
    }

    @media (prefers-reduced-motion: reduce) {
        .custom-switch .custom-control-label::after {
            -webkit-transition: none;
            transition: none;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        .custom-range::-webkit-slider-thumb {
            -webkit-transition: none;
            transition: none;
        }
        .custom-range::-moz-range-thumb {
            -webkit-transition: none;
            transition: none;
        }
        .custom-range::-ms-thumb {
            -webkit-transition: none;
            transition: none;
        }
    }

    button {
        margin-top: 2em;
    }
}
