.hero {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    text-transform: uppercase;
    animation: fadeIn 0.5s ease-in;

    h3 {
        font-family: 'Abel', sans-serif;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@media screen and (max-width: $width-md) {
    #hero-bg,
    #hero-bg::before,
    #hero-bg::after {
        width: 100%;
    }
}

@media screen and (max-width: $width-sm) {
    #hero-bg,
    #hero-bg::before,
    #hero-bg::after {
        height: 100%;
        width: 100%;
        background-attachment: scroll !important;
        background-size: cover !important;
    }   
}