@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// 2. Vendors
@import 'vendors/normalize';
@import 'vendors/flexboxgrid';

// 3. Base stuff
@import 'base/base';
@import 'base/blocks';
@import 'base/borders';
@import 'base/flex';
@import 'base/padding';
@import 'base/margin';
@import 'base/typography';
@import 'base/helpers';

// 4. Layout-related sections
@import 'layout/navbar';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/gallery';
@import 'layout/sidenav';
@import 'layout/main';

// 5. Components
@import 'components/about';
@import 'components/breadcrumbs';
@import 'components/button';
@import 'components/card';
@import 'components/form';
@import 'components/hrBreak';
@import 'components/indicators';
@import 'components/loaders';
@import 'components/modal';
@import 'components/navs';
@import 'components/notify';
@import 'components/pagination';
@import 'components/tabs';
@import 'components/upcoming_gigs';

// 6. Page-specific styles
@import 'pages/home';
@import 'pages/about';
@import 'pages/contact';

// 7. Themes
@import 'themes/default';

@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway/Raleway-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url(../fonts/Raleway/Raleway-Thin.ttf) format('truetype');
}
